@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ThemeColor: theme("colors.theme");
	--BackgroundColor: theme("colors.background");
	--CardColor: theme("colors.card");
	--Card2Color: theme("colors.card2");
}

html {
	@apply relative min-h-full;
}
body {
	@apply font-montserrat
}
body {
	@apply bg-background bg-cover text-text font-normal;
	@apply flex flex-col min-h-screen m-0 p-0;
	@apply font-montserrat
}

@layer base {
	@font-face {
		font-family: 'AGRevueCyr';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/font/AGRevueCyr Roman Medium.ttf');
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--CardColor);
	/*background: red;*/

}
.hide-scrollbar-thumb::-webkit-scrollbar-thumb {
	display: none;
}
::-webkit-scrollbar-thumb {
	background: var(--Card2Color);
	/*background: blue;*/
}

::-webkit-scrollbar-thumb:hover {
	background: var(--Card2Color);
}