@import 'tailwindcss';
@import "tw-animate-css";

@theme {
	--color-background: hsl(210, 13%, 22%);
	--color-foreground: hsl(200, 2%, 68%);
	--color-muted: color-mix(in srgb, var(--color-foreground) 40%, transparent);

	--color-primary: hsl(355, 61%, 46%);
	--color-secondary: hsl(355, 60%, 39%);

	--color-header: hsl(210, 12%, 13%);
	--color-header-border: hsl(230, 30%, 8%);

	--color-footer: hsl(210, 12%, 13%);
	--color-footer-border: hsl(230, 30%, 8%);

	--color-border: var(--color-header);
	--color-input: hsl(0 0% 14.9%);
	--color-ring: hsl(0 0% 83.1%);

	--color-card: hsl(210, 14%, 15%);
	--color-card-header: hsl(215, 14%, 15%);
	--color-card-focus: hsl(215, 14%, 12%);
	--color-card-border: hsl(210, 14%, 10%);
	--color-card-foreground: var(--color-foreground);

	--color-card-inner: hsl(210, 13%, 18%);
	--color-card-inner-focus: hsl(215, 13%, 23%);
	--color-card-inner-border: hsl(210, 13%, 13%);
	/*--color-card-inner-border: rgb(255,0,0);*/
	--color-card-inner-foreground: var(--color-foreground);

	--color-btn: var(--color-card-inner);
	--color-btn-border: var(--color-card-inner-border);
	--color-btn-hover: var(--color-card-inner-focus);
	--color-btn-foreground: var(--color-foreground);

	--color-popover: var(--color-card-inner);
	--color-popover-border: var(--color-card-inner-border);
	--color-popover-focus: var(--color-card-inner-focus);
	--color-popover-foreground: var(--color-foreground);

	--shadow-nav: rgba(13, 15, 20, 0.7) 0px 3px 10px; /*TODO YEET?*/
	--shadow-header: rgba(15, 20, 25, 0.3) 0px 0px 5px; /*TODO YEET?*/
	--shadow-primary-glow: hsl(355 81% 46% / 1) 0 0 20px 2px;

	--color-overlay: hsl(235, 27%, 8%);

	--color-finished-airing: hsl(213, 83%, 42%);
	--color-currently-airing: hsl(27, 56%, 40%);
	--color-not-yet-aired: hsl(140, 69%, 38%);

	--color-chart-1: hsl(220 70% 50%);
	--color-chart-2: hsl(160 60% 45%);
	--color-chart-3: hsl(30 80% 55%);
	--color-chart-4: hsl(280 65% 60%);
	--color-chart-5: hsl(340 75% 55%);
	--color-chart-6: hsl(120 65% 45%);
	--color-chart-7: hsl(200 70% 50%);
	--color-chart-8: hsl(50 75% 55%);
	--color-chart-9: hsl(260 70% 55%);
	--color-chart-10: hsl(10 80% 58%);

	/*TODO Make it simpler?*/
	--color-toast-error-bg: color-mix(in oklab, oklch(0.70 0.19 22.23) 10%, var(--color-background));
	--color-toast-error-text: oklch(0.70 0.19 22.23);
	--color-toast-error-border: oklch(0.70 0.19 22.23);

	--color-toast-warn-bg: color-mix(in oklab, var(--color-amber-600) 10%, var(--color-background));
	--color-toast-warn-text: var(--color-amber-400);
	--color-toast-warn-border: var(--color-amber-400);

	--color-toast-success-bg: color-mix(in oklab, var(--color-green-600) 10%, var(--color-background));
	--color-toast-success-text: var(--color-green-400);
	--color-toast-success-border: var(--color-green-400);

	--color-toast-info-bg: color-mix(in oklab, var(--color-sky-600) 10%, var(--color-background));
	--color-toast-info-text: var(--color-sky-400);
	--color-toast-info-border: var(--color-sky-400);

	--spacing-header: var(--header-height);

	--breakpoint-xxs: 28rem;
	--breakpoint-xs: 20rem;
	/* sm: 40rem */
	/* md: 48rem */
	/* lg: 64rem */
	--breakpoint-2lg: 72rem;
	--breakpoint-xxl: 92rem;
	/* 2xl: 96rem */
	--breakpoint-2xxl: 115rem;
	--breakpoint-3xl: 125rem;
	--breakpoint-4xl: 150rem;
	--breakpoint-5xl: 175rem;
	--breakpoint-6xl: 240rem;
	--breakpoint-7xl: 320rem;

	--font-mal: mal, Helvetica, Arial, sans-serif;

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

}

:root {
	--chart-1: var(--color-chart-1);
	--chart-2: var(--color-chart-2);
	--chart-3: var(--color-chart-3);
	--chart-4: var(--color-chart-4);
	--chart-5: var(--color-chart-5);
	--chart-6: var(--color-chart-6);
	--chart-7: var(--color-chart-7);
	--chart-8: var(--color-chart-8);
	--chart-9: var(--color-chart-9);
	--chart-10: var(--color-chart-10);
	--radius: 0.625rem;
	--header-height: 7.2rem;
}

*:focus,
*:focus-visible {
	outline: none;
}

@font-face { font-family: "mal"; src: url("../public/font/mal.ttf");}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: var(--color-card);
}
.hide-scrollbar-thumb {
	overflow: hidden;
}
.hide-scrollbar-thumb::-webkit-scrollbar-thumb {
	display: none;
}
::-webkit-scrollbar-thumb {
	background: var(--color-card-focus);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--color-card-focus);
}