@import 'tailwindcss';
@import "tw-animate-css";

@theme {
	--color-background: #31383f;
	--color-foreground: #abadae;
	--color-muted: color-mix(in srgb, var(--color-foreground) 40%, transparent);

	--color-primary: #bb2e3a;
	--color-secondary: #a12832;

	--color-header: #1e2226;
	--color-header-border: #0e101a;

	--color-footer: #1e2226;
	--color-footer-border: #0e101a;

	--color-border: var(--color-header);
	--color-input: hsl(0 0% 14.9%);
	--color-ring: hsl(0 0% 83.1%);

	--color-card: #20252a;
	--color-card-header: #242930;
	--color-card-border: #1a1f24;
	--color-card-foreground: var(--color-foreground);

	--color-card-inner: #272d33;
	--color-card-inner-focus: #323943;
	--color-card-inner-border: #1f2429;
	--color-card-inner-foreground: var(--color-foreground);

	--color-btn: var(--color-card-inner);
	--color-btn-border: var(--color-card-inner-border);
	--color-btn-hover: var(--color-card-inner-focus);
	--color-btn-foreground: var(--color-foreground);

	--color-popover: var(--color-card-inner);
	--color-popover-border: var(--color-card-inner-border);
	--color-popover-focus: var(--color-card-inner-focus);
	--color-popover-foreground: var(--color-foreground);

	--shadow-nav: rgba(13, 15, 20, 0.7) 0px 3px 10px; /*TODO YEET?*/
	--shadow-header: rgba(15, 20, 25, 0.3) 0px 0px 5px; /*TODO YEET?*/
	--shadow-primary-glow: hsl(355 81% 46% / 1) 0 0 20px 2px;

	--color-overlay: #0f101a;

	--color-finished-airing: #1262c6;
	--color-currently-airing: #a0612d;
	--color-not-yet-aired: #1ea54a;

	--color-chart-1: hsl(220 70% 50%);
	--color-chart-2: hsl(160 60% 45%);
	--color-chart-3: hsl(30 80% 55%);
	--color-chart-4: hsl(280 65% 60%);
	--color-chart-5: hsl(340 75% 55%);
	--color-chart-6: hsl(120 65% 45%);
	--color-chart-7: hsl(200 70% 50%);
	--color-chart-8: hsl(50 75% 55%);
	--color-chart-9: hsl(260 70% 55%);
	--color-chart-10: hsl(10 80% 58%);

	/*TODO Make it simpler?*/
	--color-toast-error-bg: color-mix(in oklab, oklch(0.70 0.19 22.23) 10%, var(--color-background));
	--color-toast-error-text: oklch(0.70 0.19 22.23);
	--color-toast-error-border: oklch(0.70 0.19 22.23);

	--color-toast-warn-bg: color-mix(in oklab, var(--color-amber-600) 10%, var(--color-background));
	--color-toast-warn-text: var(--color-amber-400);
	--color-toast-warn-border: var(--color-amber-400);

	--color-toast-success-bg: color-mix(in oklab, var(--color-green-600) 10%, var(--color-background));
	--color-toast-success-text: var(--color-green-400);
	--color-toast-success-border: var(--color-green-400);

	--color-toast-info-bg: color-mix(in oklab, var(--color-sky-600) 10%, var(--color-background));
	--color-toast-info-text: var(--color-sky-400);
	--color-toast-info-border: var(--color-sky-400);

	--breakpoint-2lg: 72rem;
	--breakpoint-xxl: 92rem;
	--breakpoint-3xl: 125rem;
	--breakpoint-4xl: 150rem;
	--breakpoint-5xl: 175rem;
	--breakpoint-6xl: 240rem;
	--breakpoint-7xl: 320rem;

	--font-mal: mal, Helvetica, Arial, sans-serif;

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

}

:root {
	--chart-1: var(--color-chart-1);
	--chart-2: var(--color-chart-2);
	--chart-3: var(--color-chart-3);
	--chart-4: var(--color-chart-4);
	--chart-5: var(--color-chart-5);
	--chart-6: var(--color-chart-6);
	--chart-7: var(--color-chart-7);
	--chart-8: var(--color-chart-8);
	--chart-9: var(--color-chart-9);
	--chart-10: var(--color-chart-10);
	--radius: 0.625rem;
}

*:focus,
*:focus-visible {
	outline: none;
}

@font-face { font-family: "mal"; src: url("../public/font/mal.ttf");}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: var(--color-card);
}
.hide-scrollbar-thumb::-webkit-scrollbar-thumb {
	display: none;
}
::-webkit-scrollbar-thumb {
	background: var(--color-card-inner);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--color-card-inner);
}